.Home-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.Home-authenticate {
  font-size: 20px;
  margin-bottom: 20px;
}

.UserName {
  font-size: 14px;
  padding: 8px;
  background-color: lightgray;
}
